In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
aula = pd.read_csv ("/Users/chaga/Documents/GitHub/ling-ds-engenharia/aula.csv", encoding = 'utf-8')

In [4]:
aula.head(4)

  sexo  idade estado
0    F     32     SP
1    M     30     SP
2    M     18     RJ
3    M     19     SP

In [6]:
label = 'F', 'M'
aula [quantidade] = 1

ind = np.arange(N)    # the x locations for the groups
width = 0.35       # the width of the bars: can also be len(x) sequence

p = plt.bar(ind, labeldth, yerr=menStd)


plt.ylabel('Genero')
plt.title('Scores by gender')
plt.xticks(ind, ('F', 'M', ))
plt.yticks(np.arange(0, 81, 10))
plt.legend((p1[0], p2[0]), ('Men', 'Women'))

plt.show()

NameError: name 'quantidade' is not defined